<!-- <div class="container">
  <div class="row">
    <div class="col-xl-12">
       <app-server></app-server> -->
      <!-- <div class="app-server"></div> -->
      <!-- <div app-server></div> -->
      <!-- <app-success></app-success>
      <app-warning></app-warning> -->
      <!-- <input type="text" class="form-control" (input)="onInput($event)">
      <H4>{{serverName}}</H4>
      <!- <app-servers></app-servers>  -->
      <!-- <app-username></app-username> -->
      <!-- <app-servers></app-servers> -->
      <!-- <Button class="btn btn-primary" (click)="toggle=!toggle">ToggleButton</Button>
      <p *ngIf="toggle"> secret password = tuna</p> -->

      <!-- <Button class="btn btn-primary" (click)="onToggle()">Add Details</Button>
      <p *ngIf="toggle"> secret password = tuna</p>
      <div *ngFor="let logItem of log">
      
        <p   [ngStyle]="{backgroundColor:logItem >=5 ? 'blue':'green'}">{{logItem}}</p>
       
      </div>
    </div>
  </div>
</div>  -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-cockpit (serverCreated)="onServerAdded($event)"
      (blueprintAdded)="onBlueprintAdded($event)"></app-cockpit>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let server of serverElements"
      [element]="server"></app-server-element>
      <p>
        <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
        <em *ngIf="server.type === 'blueprint'">{{ server.content }}</em>
      </p> </app-server-element> -->
  <!--  </div>
  </div>
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xl-12">
      <app-game-control (IntervalFired)="onFired($event)"> </app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
        <app-odd *ngFor="let number of OddNumbers" [number]="number"></app-odd>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <app-even *ngFor="let number of Evennumbers" [evenNumber] = "number"></app-even>
    </div>
  </div>
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
      <div *ngIf="onlyOdd">
        <li
        [ngClass]="{odd: number%2!==0}" [ngStyle]="{backgroundColor:number%2===0 ? 'green':'blue'}"
          class="list-group-item" *ngFor="let number of oddNumbers">{{number}}
        </li>
      </div> -->
      <!-- <div *ngIf="!onlyOdd">
        <li class="list-group-item" 
        [ngClass]="{odd: number%2===0}" [ngStyle]="{backgroundColor:number%2===0 ? 'green':'blue'}"
        *ngFor="let number of evenNumbers">{{number}}
        </li>
      </div> -->
      <!-- <div *appUnless="onlyOdd">
        <li class="list-group-item" 
        [ngClass]="{odd: number%2===0}" [ngStyle]="{backgroundColor:number%2===0 ? 'green':'blue'}"
        *ngFor="let number of evenNumbers">{{number}}
        </li>
      </div>

      </ul>
      <div basic>hhhh</div>
      <div appHighlight [defaultColor]="'yellow'" [highlight]="'red'">hhhh</div> -->

   

      <!-- <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template> -->
    <!-- </div>
  </div>
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-newaccount></app-newaccount>  -->
      <!-- (accountAdded)="onAccountAdded($event)"></app-newaccount> -->
      <!-- <hr>
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"></app-account> -->
        <!-- (statusChanged)="onStatusChanged($event)"> -->
    <!-- </div>
  </div>
</div> -->


<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-user></app-active-user> -->
        <!-- [users]="activeUsers"> -->
        <!-- (userSetToInactive)="onSetToInactive($event)"> -->
      <!-- <app-inactive-user></app-inactive-user> -->
        <!-- [users]="inactiveUsers"> -->
      
        <!-- (userSetToActive)="onSetToActive($event)"> -->
    <!-- </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active" routerLinkActive="active" 
        [routerLinkActiveOptions]= "{exact: true}"><a routerLink="/"  >Home</a></li>
        <li role="presentation"><a routerLink="/servers" routerLinkActive="active">Servers</a></li>
        <li role="presentation"><a [routerLink]="['/users']" routerLinkActive="active">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
     <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-home></app-home>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div>
  </div>
</div> -->



